

<section class="container-fluid" style="background-image: url(' {{ asset("../assets/images/backgroundLogin.jpg") }} ');
        height: 87vh">
<div class="row justify-content-center align-items-center rowLogin">
    <div class="col-lg-4">
        <form action="{{ path('app_login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal mt-5 text-white">Welcome to RenovadsData, please log in! and consult your stats</h1>
                <label for="inputEmail" class="text-white">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword" class="text-white mt-3">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row">
            <div class="col-6">
                <button class="btn btn-lg btn-secondary mt-3 px-5" type="submit">Sign in</button> 
                </div> 
                <div class="col-6">
                    <a href="{{ path('app_register') }}" class="btn btn-lg btn-primary mt-3 px-5">Register</a>
                </div>
            </div>
               </div>
            </div>
    </section>
</form>

