{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Details body forwarder {{forwarderId}}{% endblock %}
{% block main %}
<section>
      <table class="datagrid">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>input</td>
                        <td>Output</td>
    
                    </tr>
                </thead>
                <tbody>
                    {% for forwarderField in forwarderList %}        
                        <tr>
                            <td>{{forwarderField.type}}</td>
                            <td>{{forwarderField.input}}</td>
                            <td>{{forwarderField.outpout}}</td> 
                            <td><a href="{{path('delete_body_forwarder',  { 'id':forwarderId , 'bodyForwarderId': forwarderField.id })}}" class='btn btn-danger'>Delete</a></td>
                        </tr>
                            
                        {% endfor %}
                </tbody>
            </table>
</section>
<div class="row mt-5">
<h3> Input Available for the field type</h3>
    <table class="datagrid">
                <tbody>
                        <tr>
                            <td>email</td>
                            <td>firstname</td>
                            <td>lastname</td> 
                            <td>address_1</td> 
                        </tr>
                        <tr>
                            <td>dob</td>
                            <td>sex</td>
                            <td>zip</td> 
                            <td>job</td> 
                        </tr>
                        <tr>
                            <td>Created At</td>
                            <td>ip</td>
                            <td>children</td> 
                            <td>phone</td>
                        </tr>

                </tbody>
            </table>
<div class="row justify-content-center mt-5">

        <div class="col col-sm-5">
            <h3>Add a new field to the body</h3>

            {{ form(form) }}
        </div>
</div>



{% endblock %}