{% extends '@EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}
{% block content_title %}Test the forwarder{% endblock %}

{% block main %}
<section>
<form action="{{path('app_forwarder_test',  { 'forwarderId': forwarderId })}}" method="post">
 <div class="row">
{% for body in bodies %}

    {% set i = i + 1 %}

    <div class="col-xs-6 col-sm-3">
      <label for="">{{body.input}}</label>
      <input class="form-control" type="text" name={{i}}>
    </div>
  
{% endfor %}
</div>
<input type="hidden" name="url" id='url' value={{url}}>
<input type="hidden" name="forwarderId" id='forwarderId' value={{forwarderId}}>
<input type="hidden" name="fwUrl" id='fwUrl' value={{fwUrl}}>
<input type="submit" class="btn btn-primary mt-3" name="submit" value="submit">
{% if  app.request.query.get("statusCode") is defined   %}
<div class="row mt-5">
  <div class="col testBox">
     <p class="mt-2"><span class="labelSelectForm ">Status code: </span>{{ app.request.query.get("statusCode") }}</p>
     <p><span class="labelSelectForm">Content Type: </span>{{ app.request.query.get("contentType") }}</p>
     <p><span class="labelSelectForm">Content: </span>{{ app.request.query.get("content") }}<p>
     <p><span class="labelSelectForm">Response: </span>{{ app.request.query.get("response") }}</p> 
  </div>
{% endif %}
</div> 
</section>
</form>

{% endblock %}