{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}The Title of the Page{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
<section>
<form action="{{path('app_forwarder_test')}}" method="post">
{% for body in bodies %}

    {% set i = i + 1 %}

    <label for="">{{body.input}}</label>
  <input type="text" name={{i}}>
  
{% endfor %}

<input type="hidden" name="url" id='url' value={{url}}>
<input type="hidden" name="forwarderId" id='forwarderId' value={{forwarderId}}>
<input type="hidden" name="fwUrl" id='fwUrl' value={{fwUrl}}>
<input type="submit" name="submit" value="submit">
{% if  app.request.query.get("statusCode") is defined   %}
     <div>
     {{ app.request.query.get("statusCode") }} 
     </div>
      <div>
     {{ app.request.query.get("contentType") }} 
     </div>
      <div>
     {{ app.request.query.get("content") }} 
     </div>
       <div>
     {{ app.request.query.get("response") }} 
     </div>
{% endif %}

</section>
</form>

{% endblock %}