{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}The Title of the Page{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
<section>
<form action="{{path('app_forwarder_test')}}" method="post">
{% for body in bodies %}

    {% set i = i + 1 %}

    <label for="">{{body.input}}</label>
  <input type="text" name={{i}}>
  

{% endfor %}
<input type="hidden" name="test" id='test' value={{url}}>
<input type="hidden" name="test" id='test' value={{forwarderId}}>
<input type="submit" value="submit">
<pre>
    {{ dump(url) }}
</pre>
</section>
</form>

{% endblock %}